@{
    Layout = "Shared/_Authenticated.cshtml";
}

<h1>Tillgängliga telefonnummer</h1>
@if (Model.AvailablePhoneNumbers == null || Model.AvailablePhoneNumbers.Length == 0)
{
    <p>Just nu finns inga tillgängliga telefonnummer. Försök gärna igen lite senare.</p>
}
else
{
    <ul>
    @foreach (var phoneNumber in Model.AvailablePhoneNumbers)
    {
        <li>
            <form action="/account/numbers" method="POST">
                <input type="hidden" name="PhoneNumber" value="@phoneNumber"/>
                <p>@phoneNumber</p>
                <button type="submit">Välj</button>
            </form>
        </li>
    }
    </ul>
}