@{
    Layout = "Shared/_Authenticated.cshtml";
}

<h1>Inloggningssätt</h1>

<ul>
    <li>
        Google:
        @if (Model.GoogleIdLinked)
        {
            <form action="/account/identities/google" method="post">
                <input type="hidden" name="operation" value="delete"/>
                <button type="submit">Ta bort</button>
            </form>
        }
        else
        {
            <a href="/authentication/redirect/google?returnUrl=/account/identities">Anslut</a>
        }
    </li>
    <li>
        Twitter:
        @if (Model.TwitterIdLinked)
        {
            <form action="/account/identities/twitter" method="post">
                <input type="hidden" name="operation" value="delete"/>
                <button type="submit">Ta bort</button>
            </form>
        }
        else
        {
            <a href="/authentication/redirect/twitter?returnUrl=/account/identities">Anslut</a>
        }
    </li>
    <li>
        Facebook:
        @if (Model.FacebookIdLinked)
        {
            <form action="/account/identities/facebook" method="post">
                <input type="hidden" name="operation" value="delete"/>
                <button type="submit">Ta bort</button>
            </form>
        }
        else
        {
            <a href="/authentication/redirect/facebook?returnUrl=/account/identities">Anslut</a>
        }
    </li>
    <li>
        Windows Live:
        @if (Model.WindowsLiveIdLinked)
        {
            <form action="/account/identities/windowslive" method="post">
                <input type="hidden" name="operation" value="delete"/>
                <button type="submit">Ta bort</button>
            </form>
        }
        else
        {
            <a href="/authentication/redirect/windowslive?returnUrl=/account/identities">Anslut</a>
        }
    </li>
</ul>