@{
    Layout = "Shared/_Layout.cshtml";
}

<h1>Account</h1>
@if (Model.IsTwilioAccountConnected)
{
    <span>Twilio-konto anslutet</span>
}
else
{
    <a href="@Model.TwilioConnectAuthorizationUrl">Anslut Twilio-konto</a>
}