@{
    Layout = "Shared/_Layout.cshtml";
}

<a href="/authentication/redirect/twitter?returnUrl=@(RenderContext.Context.Request.Query["returnUrl"])">Logga in med Twitter</a>
<a href="/authentication/redirect/facebook?returnUrl=@(RenderContext.Context.Request.Query["returnUrl"])">Logga in med Facebook</a>
<a href="/authentication/redirect/google?returnUrl=@(RenderContext.Context.Request.Query["returnUrl"])">Logga in med Google</a>
<a href="/authentication/redirect/windowslive?returnUrl=@(RenderContext.Context.Request.Query["returnUrl"])">Logga in med Windows Live</a>