@{
    Layout = "Shared/_Layout.cshtml";
}

Logga in med: 
<div class="btn-group">
    <a href="/authentication/redirect/twitter?returnUrl=@(RenderContext.Context.Request.Query["returnUrl"])" class="btn btn-default">Twitter</a>
    <a href="/authentication/redirect/facebook?returnUrl=@(RenderContext.Context.Request.Query["returnUrl"])" class="btn btn-default">Facebook</a>
    <a href="/authentication/redirect/google?returnUrl=@(RenderContext.Context.Request.Query["returnUrl"])" class="btn btn-default">Google</a>
    <a href="/authentication/redirect/windowslive?returnUrl=@(RenderContext.Context.Request.Query["returnUrl"])" class="btn btn-default">Windows Live</a>
</div>