<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <sectionGroup name="system.web.webPages.razor"
      type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages"
        type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
        requirePermission="false"/>
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>


  <appSettings file="Secret.config">
    <add key="twilio:AccountSid" value="TWILIO_ACCOUNT_SID"/>
    <add key="twilio:AuthToken" value="TWILIO_AUTH_TOKEN"/>
    <add key="twilio:ConnectAppSid" value="TWILIO_CONNECT_APP_SID"/>
    <add key="mailgun:ApiKey" value="MAILGUN_API_KEY"/>
    <add key="mailgun:Domain" value="MAILGUN_DOMAIN"/>
    <add key="boxofon:WebhookAuthKey" value="WEBHOOK_AUTH_KEY"/>
    <add key="boxofon:NoreplyEmail" value="BOXOFON_NOREPLY_EMAIL"/>
    <add key="boxofon:BaseUrl" value="BOXOFON_BASE_URL"/>
    <add key="MyPhoneNumber" value="MY_PHONE_NUMBER"/>
    <add key="MyEmail" value="MY_EMAIL"/>
    <add key="nancy:DiagnosticsPassword" value="NANCY_DIAGNOSTICS_PASSWORD"/>
    <add key="webPages:Enabled" value="false"/>
    <add key="LOGENTRIES_TOKEN" value="LOGENTRIES_TOKEN"/>
    <add key="sa.Google" value="key:KEY;secret:SECRET;scopes:SCOPES"/>
    <add key="sa.Twitter" value="key:KEY;secret:SECRET;scopes:SCOPES"/>
    <add key="sa.Facebook" value="key:KEY;secret:SECRET;scopes:SCOPES"/>
    <add key="azure:StorageConnectionString" value="AZURE_STORAGE_CONNECTION_STRING"/>
  </appSettings>

  <system.web>
    <httpRuntime targetFramework="4.5"/>
    <compilation debug="true" targetFramework="4.5.1">
      <buildProviders>
        <add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders"/>
        <add extension=".vbhtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyVisualBasicRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders"/>
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </handlers>
  </system.webServer>

  <system.web.webPages.razor>
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
      <namespaces>
        <add namespace="Nancy.ViewEngines.Razor"/>
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <nlog>
    <extensions>
      <add assembly="LogentriesNLog"/>
    </extensions>
    <targets>
      <target name="logentries" type="Logentries" debug="true" httpPut="false" ssl="false"
        layout="${date:format=ddd MMM dd} ${time:format=HH:mm:ss} ${date:format=zzz yyyy} ${logger} : ${LEVEL}, ${message}"/>
    </targets>
    <rules>
      <logger name="*" minLevel="Debug" appendTo="logentries"/>
    </rules>
  </nlog>

</configuration>