@{
    Layout = "Shared/_Authenticated.cshtml";
}

<h1>Verifiera e-postadress</h1>
<form method="POST">
    @Html.AntiForgeryToken()
    Kod: <input type="text" name="Code"/>
    <button type="submit">Slutför verifiering</button>
</form>