@{
    Layout = "Shared/_Authenticated.cshtml";
}

<h1>Verifiera privat mobilnummer</h1>
<form method="POST">
    @Html.AntiForgeryToken()
    Kod: <input type="text" name="code"/>
    <button type="submit">Slutför verifiering</button>
</form>